[submodule "thirdParty/assimp"]
	path = thirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdParty/mai_vk"]
	path = thirdParty/mai_vk
	url = https://github.com/razarevel/mai_vk.git
